parameters:
    level: 4
    paths:
        - src
        - config
    excludePaths:
        analyse:
            - src/Concerns/HaveMacro.php
            - src/Concerns/CanFormat.php
            - src/FilamentNepaliDatetimeServiceProvider.php